<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>&#x1F4CA Pouches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    

    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Materialize CSS & JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!--Fonts-->   
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins|Ultra" rel="stylesheet"> 
    {{!-- Dev CSS --}}
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Dev JavaScript-->
    <script type="text/javascript" src="/js/index.js"></script>
    <!-- including High Charts file -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>
    
    
</head>
<body>
    {{{ body }}}
</body>
</html>

