/* declare color variables */
:root {
  --primary: #CAEBF2;
  --secondary: #FF3B3F;
  --background: rgba(238, 243, 239, 0.857);
  --text: rgb(68, 67, 67);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    
* {
  color: var(--text);
}

.formHFlex a  {
  background-color: var(--secondary);
}

nav {
  background-color: var(--primary);
  padding-bottom: 80px;
}

body {
  background-color: var(--background);
}

.nav-wrapper, .nav-content {
  margin-left: 75px;
}

#brand-logo {
  font-size: 4.5em;
  color: var(--secondary);
  font-family: 'Permanent Marker';
  font-family: 'Ultra', serif;
  font-family: 'Poppins', sans-serif;
}

nav img {
  width: 80px;
  height: 80px;
  margin-right: 50px;
  position: relative;
}

nav p {
  margin: 0px 100px;
}

.formHFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-content {
  color:white;
}
div .card {
  margin-bottom: 50px;
}

iframe {
  width: 605px;
  height: 380px;
  margin: auto;
  display: block;
}


#new-project-form,
#successes-table,
#failures-table,
#other-table {
  padding: 20px;
}

h1,
.lead {
  text-align: center;
}

.display-4 {
  margin-bottom: 50px;
}

#form-header {
  padding: 20px;
}

.lead {
  margin-top: 30px;
}

.list-group-item {
  line-height: 2.5;
}

.modal-body {
  padding: 0.5rem;
  text-align: center;
}

#info-button,
#site-info-button {
  margin-left: 20px;
}
.card .row {
  margin-bottom: 0px;
}

.successes,
.failures,
#other {
  font-size: 20px;
}

.successes {
  color: green;
}

.failures {
  color: red;
}

.input-group {
  margin-top: 32px;
}

#submit-button {
  width: 30%;
  background-color: var(--secondary);
}

#edit-project-info-button,
#clear-form-button {
  margin-left: 20px;
  margin-bottom: 30px;
}

.parallax-container {
  height: 400px;
}

#userSearchesContainer h4 {
  white-space: nowrap;
 
}

#chart1, #chart2, #chart3, #chart4 {
  padding: 30px;
}

.page-footer {
  background-color: var(--primary);
}